<%= render 'shared/menuSection' %>

<!--MESSAGE SECTION START-->
<section id="message" >
<div class="container">
<div class="row text-center header animate-in" data-anim-type="fade-in-up">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<h3>牛フィレ肉と鴨のフォアグラのパイ包み焼き</h3>
<h3>〜マデラ酒の香るソース〜</h3>
<hr />

</div>
</div>

<div class="row animate-in" data-anim-type="fade-in-up">

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-justify">

<!--if/else start-->
<% nowTime=Time.now.strftime("%H%M").to_i %>

<% if nowTime < 330 %>

<%= render 'shared/commingsoon' %>

<% else %>

<h2><%= render 'shared/callmessage' %></h2>
</br>

<div class="container">
    <div class="row">
        <div><%= image_tag('main_sample.jpg', :class => 'img-responsive', :style => 'text-align: center;') %></div>
    </div>
</div>
</br>
<h4>柔らかな赤身の牛フィレ肉にマッシュルームのクリームペーストを塗り鴨のフォワグラを重ね薄くのばしたパイで包み込んでオーブンで焼きあげたお料理です。</h4>
<h4>ソースは２種類かかっておりブラウンの方はスペイン原産のマディラワイン（甘口の酒精強化ワイン）をしっかりと煮詰めフォンドヴォーを加えて作ったリッチなソース、もう一方の白いソースはチキンブイヨンを煮詰めて生クリームを加えて作った全体をまろやかにしてくれる役割のソースです。</h4>
<h4>それぞれの相性を楽しんで頂きたい一品です。</h4>
<h5>(新郎新婦からのコメント) 見た目も味も、最高に気に入っていて、ここで披露宴を行う決め手になった料理でした。ぜひご賞味ください。</h5>

<% end %>

</div>

</div>
</div>
</section>

<!--MESSAGE SECTION END-->

<%= render 'shared/serviceSection' %>

<%= render 'shared/linktotopSection' %>