<%= render 'shared/menuSection' %>

<!--MESSAGE SECTION START-->
<section id="message" >
<div class="container">
<div class="row text-center header animate-in" data-anim-type="fade-in-up">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<h3>リゾーニとたらば蟹のセルクル仕立て野菜のムースと共に</h3>
<hr />

</div>
</div>

<div class="row animate-in" data-anim-type="fade-in-up">

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-justify">

<!--if/else start-->
<% nowTime=Time.now.strftime("%H%M").to_i %>

<% if nowTime < 240 %>

<%= render 'shared/commingsoon' %>

<% else %>

<h2><%= render 'shared/callmessage' %></h2>
</br>

<div class="container">
    <div class="row">
       <div><%= image_tag('coldstarter_sample.jpg', :class => 'img-responsive', :style => 'text-align: center;') %></div>
    </div>
</div>
</br>
<h4>リゾーニはお米型をしたパスタの事で、このリゾーニをボイルしトマトをベースとした野菜のペーストと合わせアクセントにハーブのバジルとマヨネーズを少し加え、味を調えたものが左側のお料理になります。</h4>
<h4>一方真ん中の小さなグラスに入っているお料理はお野菜のムースとメニューに書いてありますが３種類のお野菜（下から人参・カリフラワー・パプリカ）を使用したムースになっており上にのせてあるパイ（タイムと黒胡椒をきかせ焼きあげてあります）を手でつまんで野菜のムースに付けながら召し上がっていただくと美味しく頂ける事でしょう。</h4>
<h5>(新郎新婦からのコメント) リゾーニの歯ごたえがとも可愛くて、素敵な前菜になると思い選びました。</h5>

<% end %>

</div>

</div>
</div>
</section>

<!--MESSAGE SECTION END-->

<%= render 'shared/serviceSection' %>

<%= render 'shared/linktotopSection' %>