<%= render 'shared/menuSection' %>

<!--MESSAGE SECTION START-->
<section id="message" >
<div class="container">
<div class="row text-center header animate-in" data-anim-type="fade-in-up">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<h3>海老のラビオリ　椎茸ソース</h3>
<hr />

</div>
</div>

<div class="row animate-in" data-anim-type="fade-in-up">

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-justify">

<!--if/else start-->
<% nowTime=Time.now.strftime("%H%M").to_i %>

<% if nowTime < 235 %>

<%= render 'shared/commingsoon' %>

<% else %>

<h2><%= render 'shared/callmessage' %></h2>
</br>

<div class="container">
    <div class="row">
    <div><%= image_tag('warmstarter_sample.jpg', :class => 'img-responsive', :style => 'text-align: center;') %></div>
    </div>
</div>
</br>
<h4>横浜中華街をイメージした一品です。横浜らしさを演出すべくチャイニーズテイストのお料理としてラビオリ風の仕立てですがモッチリとした水餃子に使用する皮を使っています。/h4>
<h4>ラビオリの中には白身魚のすり身にエビと野菜を加えプリッとした食感を出しソースには干し椎茸の戻し汁とコンソメを合わせしっかりと煮詰め仕上げに焦がしバターを加え香ばしさを加えどこか懐かしさを感じるようなお料理になっています。</h4>
<h5>(新郎新婦からのコメント) 結婚式打ち合わせの前後には必ず中華街でご飯をしていました。また、イタリアも二人の思い出に残る旅行場所であり、二つが合わさった料理としてとても楽しみにしています。</h5>

<% end %>

</div>

</div>
</div>
</section>

<!--MESSAGE SECTION END-->

<%= render 'shared/serviceSection' %>

<%= render 'shared/linktotopSection' %>