<!DOCTYPE html>
<html>
  <head>
    <title>Kaede & Naoki's Wedding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    '/import/animations', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    '/import/bootstrap', :media => 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    '/import/font-awesome', :media => 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    '/import/ionicons', :media => 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
