<%= render 'shared/menuSection' %>

<!--MESSAGE SECTION START-->
<section id="message" >
<div class="container">
<div class="row text-center header animate-in" data-anim-type="fade-in-up">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<h3>ドリンク</h3>
<hr />

</div>
</div>

<div class="row animate-in" data-anim-type="fade-in-up">

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-justify">

<!--if/else start-->
<% nowTime=Time.now.strftime("%H%M").to_i %>

<% if nowTime < 1 %>

<%= render 'shared/commingsoon' %>

<% else %>

<h2><%= render 'shared/callmessage' %></h2>
</br>

<div class="container">
    <div class="row">
      <div><%= image_tag('drink_sample.jpg', :class => 'img-responsive', :style => 'text-align: center;') %></div>
    </div>
</div>
</br>
<h4>ワインは赤ワイン、白ワインもコートデュベロンというプライベートワインでございます。</h4>
<h4>フランスのブドウ畑から取れたブドウを扱っており、ホテルモントレグループ全国（北海道～沖縄まで）でのご婚礼で扱っております。</h4>
<h4>白ワインはフローラルでコクがあり、赤ワインは辛めのミディアムボディになっています。</h4>
<h4>どちらもどんなお料理にも合うように作っていますので、是非ご賞味ください。</h4>
<h5>(新郎新婦からのコメント) ビールなどもありますが、特にワインがとても美味しくて、持って帰りたいほどでした。ぜひ楽しく飲んでみてください</h5>

<% end %>

</div>

</div>
</div>
</section>

<!--MESSAGE SECTION END-->

<%= render 'shared/serviceSection' %>

<%= render 'shared/linktotopSection' %>

<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME -->
<!-- CORE JQUERY -->
<script src="assets/js/jquery-1.11.1.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="assets/js/bootstrap.js"></script>
<!-- EASING SCROLL SCRIPTS PLUGIN -->
<script src="assets/js/vegas/jquery.vegas.min.js"></script>
<!-- VEGAS SLIDESHOW SCRIPTS -->
<script src="assets/js/jquery.easing.min.js"></script>
<!-- FANCYBOX PLUGIN -->
<script src="assets/js/source/jquery.fancybox.js"></script>
<!-- ISOTOPE SCRIPTS -->
<script src="assets/js/jquery.isotope.js"></script>
<!-- VIEWPORT ANIMATION SCRIPTS   -->
<script src="assets/js/appear.min.js"></script>
<script src="assets/js/animations.min.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="assets/js/custom.js"></script>
</body>

</html>
