<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @manage.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @manage.name %>
</p>

<p>
  <strong>Top:</strong>
  <%= @manage.top %>
</p>

<p>
  <strong>Drink:</strong>
  <%= @manage.drink %>
</p>

<p>
  <strong>Coldstarter:</strong>
  <%= @manage.coldstarter %>
</p>

<p>
  <strong>Warmstarter:</strong>
  <%= @manage.warmstarter %>
</p>

<p>
  <strong>Soup:</strong>
  <%= @manage.soup %>
</p>

<p>
  <strong>Seafood:</strong>
  <%= @manage.seafood %>
</p>

<p>
  <strong>Main:</strong>
  <%= @manage.main %>
</p>

<p>
  <strong>Dessert:</strong>
  <%= @manage.dessert %>
</p>

<%= link_to 'Edit', edit_manage_path(@manage) %> |
<%= link_to 'Back', manages_path %>
