<%= render 'shared/menuSection' %>

<!--MESSAGE SECTION START-->
<section id="message" >
<div class="container">
<div class="row text-center header animate-in" data-anim-type="fade-in-up">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<h3>小さなコンソメスープ</h3>
<hr />

</div>
</div>

<div class="row animate-in" data-anim-type="fade-in-up">

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-justify">

<!--if/else start-->
<% nowTime=Time.now.strftime("%H%M").to_i %>

<% if nowTime < 255 %>

<%= render 'shared/commingsoon' %>

<% else %>

<h2><%= render 'shared/callmessage' %></h2>
</br>

<div class="container">
    <div class="row">
       <div><%= image_tag('soup_sample.jpg', :class => 'img-responsive', :style => 'text-align: center;') %></div>
    </div>
</div>
</br>
<h4>コンソメスープ自体はホテルで２日間かけて作っているビーフコンソメスープです。</h4>
<h4>スープボウルではなくデミタスカップ（小さなコーヒーカップ）で出てきますのでコーヒーを飲むときのようにカップを持ちお口を付けて召し上がっていただきたい一品です。</h4>
<h4>とても力強い味わいと奥深い香りを同時に楽しみながら飲んでいただきたいのでこのような形でご提供し皆様に楽しんで頂いているお料理になります。</h4>
<h5>(新郎新婦からのコメント) 今まで飲んだコンソメスープの中で圧倒的に美味しく、是非皆様にも召し上がって頂きたいと思い、選びました。</h5>

<% end %>

</div>

</div>
</div>
</section>

<!--MESSAGE SECTION END-->

<%= render 'shared/serviceSection' %>

<%= render 'shared/linktotopSection' %>
