<%= render 'shared/menuSection' %>

<!--MESSAGE SECTION START-->
<section id="message" >
<div class="container">
<div class="row text-center header animate-in" data-anim-type="fade-in-up">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<h3>鱸のソテー</h3>
<h3>〜グリーンアスパラガスときのこ添え　磯の香りのソース〜</h3>
<hr />

</div>
</div>

<div class="row animate-in" data-anim-type="fade-in-up">

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-justify">

<!--if/else start-->
<% nowTime=Time.now.strftime("%H%M").to_i %>

<% if nowTime < 259 %>

<%= render 'shared/commingsoon' %>

<% else %>

<h2><%= render 'shared/callmessage' %></h2>
</br>

<div class="container">
    <div class="row">
    <div><%= image_tag('fish_sample.jpg', :class => 'img-responsive', :style => 'text-align: center;') %></div>
    </div>
</div>
</br>
<h4>鱸には胡椒を控えめに塩はやや強めにし、皮目をしっかりと焼きオーブンでふっくらと焼きあげてあります。</h4>
<h4>付け合わせのお野菜と共に貝類からとったジュースを煮詰めバターとイタリアンパセリを加えた磯の香をイメージしたソースを付けてお召し上がりくださいませ。</h4>
<h5>(新郎新婦からのコメント) イタリアへ行った時にも美味しい魚料理が多かったのですが、絶品だったために選びました。</h5>

<% end %>

</div>

</div>
</div>
</section>

<!--MESSAGE SECTION END-->

<%= render 'shared/serviceSection' %>

<%= render 'shared/linktotopSection' %>